@font-face {
  font-family: "Vazirmatn";
  src: url("/public/fonts/webfonts/Vazirmatn[wght].woff2")
      format("woff2 supports variations"),
    url("/public/fonts/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shabnam";
  src: url("/public/fonts/shabnam/Shabnam.eot");
  src: url("/public/fonts/shabnam/Shabnam.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/shabnam/Shabnam.woff2") format("woff2"),
    url("/public/fonts/shabnam/Shabnam.woff") format("woff"),
    url("/public/fonts/shabnam/Shabnam.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url("/public/fonts/shabnam/Shabnam-Bold.eot");
  src: url("/public/fonts/shabnam/Shabnam-Bold.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/shabnam/Shabnam-Bold.woff2") format("woff2"),
    url("/public/fonts/shabnam/Shabnam-Bold.woff") format("woff"),
    url("/public/fonts/shabnam/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Shabnam";
  src: url("/public/fonts/shabnam/Shabnam-Thin.eot");
  src: url("/public/fonts/shabnam/Shabnam-Thin.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/shabnam/Shabnam-Thin.woff2") format("woff2"),
    url("/public/fonts/shabnam/Shabnam-Thin.woff") format("woff"),
    url("/public/fonts/shabnam/Shabnam-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Shabnam";
  src: url("/public/fonts/shabnam/Shabnam-Light.eot");
  src: url("/public/fonts/shabnam/Shabnam-Light.eot?#iefix") format("embedded-opentype"),
    url("/public/fonts/shabnam/Shabnam-Light.woff2") format("woff2"),
    url("/public/fonts/shabnam/Shabnam-Light.woff") format("woff"),
    url("/public/fonts/shabnam/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Shabnam";
  src: url("/public/fonts/shabnam/Shabnam-Medium.eot");
  src: url("/public/fonts/shabnam/Shabnam-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/public/fonts/shabnam/Shabnam-Medium.woff2") format("woff2"),
    url("/public/fonts/shabnam/Shabnam-Medium.woff") format("woff"),
    url("/public/fonts/shabnam/Shabnam-Medium.ttf") format("truetype");
  font-weight: 500;
}

html[lang="fa"] body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
}

html[lang="fa"] h1 {
  font-family: "Shabnam", sans-serif;
  font-weight: 700;
}

html[lang="fa"] h2 {
  font-family: "Shabnam", sans-serif;
  font-weight: 500;
}

html[lang="fa"] h3 {
  font-family: "Shabnam", sans-serif;
  font-weight: 400;
}
